{% extends "base.html" %}
{% block content %}

<h1>Add Rod</h1>

<form method="POST">
    <label>Brand:</label><br>
    <input name="brand" required><br><br>

    <label>Model:</label><br>
    <input name="model" required><br><br>

    <label>Series:</label><br>
    <input name="series"><br><br>

    <label>Length (ft):</label><br>
    <input name="length_ft" type="number" step="0.1"><br><br>

    <label>Action:</label><br>
    <input name="action"><br><br>

    <label>Cost:</label><br>
    <input name="cost" type="number" step="0.01"><br><br>

    <label>Source:</label><br>
    <input name="source"><br><br>

    <button class="save-btn">Save Rod</button>
</form>

{% endblock %}

